<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5b090d52-e3b7-4cc9-8fd2-0ddb87b8f46a" Alias="Checkout.AddressLine2Placeholder" Level="0">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Address line 2</Translation>
  </Translations>
</Dictionary>