<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3a07c50c-2e16-43dc-b1bf-8dd3eaf37b84" Alias="Checkout.ReturnToStoreLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Return to store</Translation>
  </Translations>
</Dictionary>