<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="abaf68c4-cc12-4fbc-a8d8-d5b59483e8f2" Alias="Checkout.ShippingAddressIsSameAsBillingAddressLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Shipping address is same as billing address</Translation>
  </Translations>
</Dictionary>