<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ea8d6ae2-0c59-4242-90d4-74fc9d06f9ed" Alias="Checkout.BillingInformationLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Billing information</Translation>
  </Translations>
</Dictionary>