<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a70c747f-f8d4-42fe-9b91-293d199b0373" Alias="Checkout.HideOrderSummaryLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Hide order summary</Translation>
  </Translations>
</Dictionary>