<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="98cf5f65-4cd1-4d35-9a2a-3965c6e7d3d1" Alias="Checkout.ShippingAddressLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Shipping address</Translation>
  </Translations>
</Dictionary>