<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d4b849a3-ba84-4f3a-9c31-60ce05fff3b6" Alias="Checkout.ShowOrderSummaryLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Show order summary</Translation>
  </Translations>
</Dictionary>