<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8b93e3fe-4df3-47bf-a5ab-d2a54d2603e5" Alias="Checkout.ShippingInformationLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Shipping information</Translation>
  </Translations>
</Dictionary>