<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2de3e7d8-b3c3-4923-913d-26de0f3884ef" Alias="Checkout.ShippingMethodLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Shipping method</Translation>
  </Translations>
</Dictionary>