<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e1b979b8-9ddb-42e2-8131-315bd216bee0" Alias="Checkout.AConfirmationEmailHasBeenSentToLabel" Level="0">
   <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">A confirmation email has been sent to</Translation>
  </Translations>
</Dictionary>