<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0431c39e-7d22-4120-a099-69d778e5d9e8" Alias="Checkout.IsProductAvailableForPurchaseError" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB"></Translation>
  </Translations>
</Dictionary>