<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d16c1715-f5d2-48bf-bc73-c579deedfec1" Alias="Checkout.ContactInformationLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Contact information</Translation>
  </Translations>
</Dictionary>