<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="711e445e-6442-4afd-8707-1f1c266f719d" Alias="Checkout.UseTheseDetails" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Use these details</Translation>
  </Translations>
</Dictionary>