<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e9955b52-7a4c-4c7a-ad3c-595d7fb0987e" Alias="Checkout.ReturnToShoppingCartLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Return to shopping cart</Translation>
  </Translations>
</Dictionary>