<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c76ca9e8-6adb-455e-8874-605b869dd6fe" Alias="Checkout.NoPaymentNeededLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">No payment needed</Translation>
  </Translations>
</Dictionary>