<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2b05393b-e5d2-48a1-a68e-f23b02a9bff6" Alias="Checkout.DiscountGiftCardCodePlaceholder" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Discount/Gift Card Code</Translation>
  </Translations>
</Dictionary>