<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2042f0f2-dff2-47f1-a154-c06000709625" Alias="Checkout.KeepMeUpToDateOnNewsAndExclusiveOffersLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Keep me up to date on news and exclusive offers</Translation>
  </Translations>
</Dictionary>