<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="156ab839-75b8-4958-821e-902e23f944f1" Alias="Checkout.EnterAnyCommentsHerePlaceholder" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Enter any comments here</Translation>
  </Translations>
</Dictionary>