<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="26fe651f-a411-45a3-9d8b-fdae27deaff6" Alias="Checkout.PaymentMethodLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Payment method</Translation>
  </Translations>
</Dictionary>