<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="92e947e8-f160-4a95-bc5b-cd3e4446e988" Alias="Checkout.ThankYouForYourOrderLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Thank you for your order</Translation>
  </Translations>
</Dictionary>