<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f81bbd43-37b6-402f-bfbf-2786f847a0c2" Alias="Checkout.BillingAddressLabel" Level="0">
   <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Billing address</Translation>
  </Translations>
</Dictionary>