<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3721329f-742f-416b-9f4c-3aeec50914dc" Alias="Checkout.IAgreeAndAcceptTheSitesTermsOfServiceLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">I agree and accept the &lt;a href="/en-gb/terms-and-conditions/"&gt;terms and conditions of sale&lt;/a&gt;</Translation>
  </Translations>
</Dictionary>