<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="24a2ccc4-a37f-4a3c-b16c-feecfed744d6" Alias="Checkout.ChangeDetailsLabel" Level="1">
  <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Change Details</Translation>
  </Translations>
</Dictionary>