<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0dc2305d-9a80-42d8-9ca6-537057fa2e17" Alias="Checkout.AddressLine1Placeholder" Level="0">
 <Info>
    <Parent>Checkout</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Address line 1</Translation>
  </Translations>
</Dictionary>