<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="221845fe-dfc8-40d2-a8dd-8f0bf63a6282" Alias="Orders.YourCartIsEmptyLabel" Level="1">
  <Info>
    <Parent>Orders</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Your cart is empty</Translation>
  </Translations>
</Dictionary>