<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="382a389a-bd89-4278-a7c4-b86afafaead2" Alias="Orders.ExtendedOrderDetailsLabel" Level="1">
  <Info>
    <Parent>Orders</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Extended Order Details</Translation>
  </Translations>
</Dictionary>