<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="48475d3c-c023-490d-87c5-a13df62f4de8" Alias="Orders.PaymentViaGiftCardLabel" Level="1">
  <Info>
    <Parent>Orders</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Payment via Gift Card</Translation>
  </Translations>
</Dictionary>