<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="413d175c-6f7b-4e48-b832-22382afab796" Alias="Orders.ShippingCalculatedAtCheckoutLabel" Level="1">
  <Info>
    <Parent>Orders</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Shipping calculated at checkout</Translation>
  </Translations>
</Dictionary>