<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5a43b88d-795d-4b9e-9f52-aeb432a05437" Alias="vendr_uk_paymentmethod_stripe_continueurl" Level="1">
  <Info>
    <Parent>Vendr</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">/en-gb/checkout/order-confirmation</Translation>
  </Translations>
</Dictionary>