<?xml version="1.0" encoding="utf-8"?>
<TaxClass Key="d8bb9338-668f-481d-9dc7-76557e43b6af" Alias="standard" Level="0">
  <Name>Standard</Name>
  <SortOrder>0</SortOrder>
  <StoreId>3472e724-17a3-4eb1-8cb1-4d253e99ae52</StoreId>
  <DefaultTaxRate>0.20000000</DefaultTaxRate>
  <TaxRates />
</TaxClass>