<?xml version="1.0" encoding="utf-8"?>
<EmailTemplate Key="c0be672a-6e10-4940-bd27-8dfbde1d836c" Alias="giftCard" Level="0">
  <Name>Gift Card</Name>
  <SortOrder>2</SortOrder>
  <StoreId>3472e724-17a3-4eb1-8cb1-4d253e99ae52</StoreId>
  <Category>GiftCard</Category>
  <ToAddresses />
  <BccAddresses />
  <CcAddresses />
  <SenderAddress>info@vendr.net</SenderAddress>
  <SenderName>Vendr</SenderName>
  <SendToCustomer>true</SendToCustomer>
  <Subject>Gift Card</Subject>
  <TemplateView>~/app_plugins/vendrcheckout/views/emails/VendrCheckoutGiftCardEmail.cshtml</TemplateView>
</EmailTemplate>