<?xml version="1.0" encoding="utf-8"?>
<EmailTemplate Key="5d7fc21e-b43a-4aaf-bb7e-fa45dc9f14f7" Alias="orderEerror" Level="0">
  <Name>Order Error</Name>
  <SortOrder>1</SortOrder>
  <StoreId>3472e724-17a3-4eb1-8cb1-4d253e99ae52</StoreId>
  <Category>Order</Category>
  <ToAddresses />
  <BccAddresses />
  <CcAddresses />
  <SenderAddress>info@vendr.net</SenderAddress>
  <SenderName>Vendr</SenderName>
  <SendToCustomer>true</SendToCustomer>
  <Subject>Order Error</Subject>
  <TemplateView>~/app_plugins/vendrcheckout/views/emails/VendrCheckoutOrderErrorEmail.cshtml</TemplateView>
</EmailTemplate>