<?xml version="1.0" encoding="utf-8"?>
<EmailTemplate Key="d749045f-9378-4446-a055-3333315867d0" Alias="orderConfirmation" Level="0">
  <Name>Order Confirmation</Name>
  <SortOrder>0</SortOrder>
  <StoreId>3472e724-17a3-4eb1-8cb1-4d253e99ae52</StoreId>
  <Category>Order</Category>
  <ToAddresses />
  <BccAddresses />
  <CcAddresses />
  <SenderAddress>info@vendr.net</SenderAddress>
  <SenderName>Vendr</SenderName>
  <SendToCustomer>true</SendToCustomer>
  <Subject>Order Confirmation</Subject>
  <TemplateView>~/app_plugins/vendrcheckout/views/emails/VendrCheckoutOrderConfirmationEmail.cshtml</TemplateView>
</EmailTemplate>