@using Umbraco.Web.Composing;
@inherits UmbracoViewPage
@{
    
    var finalized = (bool)(ViewData["finalized"] ?? false);

    var store = Vendr.Checkout.Web.PublishedContentExtensions.GetStore(Model);

    var currentOrder = !finalized
        ? VendrApi.Instance.GetCurrentOrder(store.Id)
        : VendrApi.Instance.GetCurrentFinalizedOrder(store.Id);

}
<a id="order-summary-toggle" href="#" class="flex items-center justify-between border-t border-b border-gray-300 bg-gray-100 lg:hidden">
    <span class="py-4 pl-8 pr-2 text-lg">
        <span id="order-summary-toggle__text-closed"><i class="fa fa-shopping-cart mr-2"></i> @Umbraco.GetDictionaryValue("Checkout.ShowOrderSummaryLabel") <i class="fa fa-angle-down ml-1"></i></span>
        <span id="order-summary-toggle__text-open" class="hidden"><i class="fa fa-shopping-cart mr-2"></i> @Umbraco.GetDictionaryValue("Checkout.HideOrderSummaryLabel") <i class="fa fa-angle-up ml-1"></i></span>
    </span>
    <span class="py-4 pr-8 pl-2 text-lg font-medium">
        @currentOrder.TotalPrice.Value.Formatted()
    </span>
</a>