<?xml version="1.0" encoding="utf-8"?>
<ShippingMethod Key="a08339a5-1781-4534-931a-752c5901bf22" Alias="pickup" Level="0">
  <Name>Pickup</Name>
  <SortOrder>0</SortOrder>
  <StoreId>3472e724-17a3-4eb1-8cb1-4d253e99ae52</StoreId>
  <AllowedCountryRegions>
    <Allowed>
      <CountryId>a97be569-d574-4c50-85ed-3e5fedebdea6</CountryId>
      <RegionId />
    </Allowed>
  </AllowedCountryRegions>
  <Prices />
  <ImageId />
  <Sku>1623</Sku>
  <TaxClassId />
</ShippingMethod>