<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b792ef2-5a83-411a-a195-905d80d9b7c9" Alias="Home - Store - Vendr: Store Picker" Level="1">
  <Info>
    <Name>Home - Store - Vendr: Store Picker</Name>
    <EditorAlias>Vendr.StorePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>