<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf586ad2-6fd7-447c-b721-c0911fcc2d5d" Alias="Product - Stock - Vendr: Stock" Level="1">
  <Info>
    <Name>Product - Stock - Vendr: Stock</Name>
    <EditorAlias>Vendr.Stock</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>