<?xml version="1.0" encoding="utf-8"?>
<DataType Key="326a552d-2b85-4b7f-9718-e5f6a5ea363d" Alias="Product - Price - Vendr: Price" Level="1">
  <Info>
    <Name>Product - Price - Vendr: Price</Name>
    <EditorAlias>Vendr.Price</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>