<?xml version="1.0" encoding="utf-8"?>
<DataType Key="71da28ed-ad63-477e-9a9d-0675629fabcb" Alias="Product - bundledItems - Multinode Treepicker" Level="1">
  <Info>
    <Name>Product - bundledItems - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "product",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>