<?xml version="1.0" encoding="utf-8"?>
<Content Key="cdcaae84-0adc-49fb-802c-f5e1f36e8706" Alias="Customer Information" Level="3">
  <Info>
    <Parent Key="7fb63b7a-7800-4ba9-9c8b-42c2b849e169">Checkout</Parent>
    <Path>/Home/Checkout/CustomerInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>vendrCheckoutCheckoutStepPage</ContentType>
    <CreateDate>2020-11-10T14:10:57</CreateDate>
    <NodeName Default="Customer Information" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <vendrShortStepName>
      <Value><![CDATA[Information]]></Value>
    </vendrShortStepName>
    <vendrStepType>
      <Value><![CDATA[["Information"]]]></Value>
    </vendrStepType>
  </Properties>
</Content>