<?xml version="1.0" encoding="utf-8"?>
<Content Key="f229bcf0-ab75-411e-bba0-05abf0b9b9c4" Alias="Order Confirmation" Level="3">
  <Info>
    <Parent Key="7fb63b7a-7800-4ba9-9c8b-42c2b849e169">Checkout</Parent>
    <Path>/Home/Checkout/OrderConfirmation</Path>
    <Trashed>false</Trashed>
    <ContentType>vendrCheckoutCheckoutStepPage</ContentType>
    <CreateDate>2020-11-10T14:10:57</CreateDate>
    <NodeName Default="Order Confirmation" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0d611fd6-96dd-4e9c-8f52-ed395c330769">VendrCheckoutInlineConfirmationPage</Template>
  </Info>
  <Properties>
    <vendrShortStepName>
      <Value><![CDATA[Confirmation]]></Value>
    </vendrShortStepName>
    <vendrStepType>
      <Value><![CDATA[["Confirmation"]]]></Value>
    </vendrStepType>
  </Properties>
</Content>