<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c9bc8d2-3faf-49eb-8757-75b0b1135338" Alias="Payment Method" Level="3">
  <Info>
    <Parent Key="7fb63b7a-7800-4ba9-9c8b-42c2b849e169">Checkout</Parent>
    <Path>/Home/Checkout/PaymentMethod</Path>
    <Trashed>false</Trashed>
    <ContentType>vendrCheckoutCheckoutStepPage</ContentType>
    <CreateDate>2020-11-10T14:10:57</CreateDate>
    <NodeName Default="Payment Method" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <vendrShortStepName>
      <Value><![CDATA[Payment Method]]></Value>
    </vendrShortStepName>
    <vendrStepType>
      <Value><![CDATA[["PaymentMethod"]]]></Value>
    </vendrStepType>
  </Properties>
</Content>