<?xml version="1.0" encoding="utf-8"?>
<Content Key="740b45c3-b3d5-465e-b48a-d31103ff2514" Alias="Process Payment" Level="3">
  <Info>
    <Parent Key="7fb63b7a-7800-4ba9-9c8b-42c2b849e169">Checkout</Parent>
    <Path>/Home/Checkout/ProcessPayment</Path>
    <Trashed>false</Trashed>
    <ContentType>vendrCheckoutCheckoutStepPage</ContentType>
    <CreateDate>2020-11-10T14:10:57</CreateDate>
    <NodeName Default="Process Payment" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <vendrShortStepName>
      <Value><![CDATA[Payment]]></Value>
    </vendrShortStepName>
    <vendrStepType>
      <Value><![CDATA[["Payment"]]]></Value>
    </vendrStepType>
  </Properties>
</Content>