<?xml version="1.0" encoding="utf-8"?>
<Content Key="39993064-2dd0-4a94-baeb-0f07a1b88e13" Alias="Review Order" Level="3">
  <Info>
    <Parent Key="7fb63b7a-7800-4ba9-9c8b-42c2b849e169">Checkout</Parent>
    <Path>/Home/Checkout/ReviewOrder</Path>
    <Trashed>false</Trashed>
    <ContentType>vendrCheckoutCheckoutStepPage</ContentType>
    <CreateDate>2020-11-10T14:10:57</CreateDate>
    <NodeName Default="Review Order" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <vendrShortStepName>
      <Value><![CDATA[Review]]></Value>
    </vendrShortStepName>
    <vendrStepType>
      <Value><![CDATA[["Review"]]]></Value>
    </vendrStepType>
  </Properties>
</Content>