<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f958e05-cb4d-4d59-9684-fa99d162ce05" Alias="Shipping Method" Level="3">
  <Info>
    <Parent Key="7fb63b7a-7800-4ba9-9c8b-42c2b849e169">Checkout</Parent>
    <Path>/Home/Checkout/ShippingMethod</Path>
    <Trashed>false</Trashed>
    <ContentType>vendrCheckoutCheckoutStepPage</ContentType>
    <CreateDate>2020-11-10T14:10:57</CreateDate>
    <NodeName Default="Shipping Method" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <vendrShortStepName>
      <Value><![CDATA[Shipping Method]]></Value>
    </vendrShortStepName>
    <vendrStepType>
      <Value><![CDATA[["ShippingMethod"]]]></Value>
    </vendrStepType>
  </Properties>
</Content>