<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c9d5d2de-645c-406e-be95-425bd683c0c4" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="26498f32-d1f4-4c9d-bd4f-15136e7209c5">contentBase</Composition>
      <Composition Key="ec20b8ed-8175-4372-9e88-f23e3c240d36">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d9106e02-68fe-45d6-bff3-160805e3efda">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c9d5d2de-645c-406e-be95-425bd683c0c4" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>