<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e5e809cf-f3e5-4bb8-b7bb-c67c8303c2f4" Alias="vendrCheckoutCheckoutPage" Level="2">
  <Info>
    <Name>[Vendr Checkout] Checkout Page</Name>
    <Icon>icon-cash-register color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>VendrCheckoutInlinePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d9c595d7-9a2e-4503-954a-e4145bd1fb3e">VendrCheckoutInlinePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d9384576-e6a8-4ef2-8ca8-475ee6e7546d" SortOrder="0">vendrCheckoutCheckoutStepPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>4b37e5b5-0494-4c69-a79c-a278cd44ba42</Key>
      <Name>Hide from Navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide the checkout page from the sites main navigation.]]></Description>
      <SortOrder>90</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>80147cf3-0160-49a2-bf11-5ba00b350b76</Key>
      <Name>Checkout Back Page</Name>
      <Alias>vendrCheckoutBackPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page to go back to when backing out of the checkout flow.]]></Description>
      <SortOrder>60</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>3443b3ab-9564-4c7f-a539-06f82b733551</Key>
      <Name>Collect Shipping Info</Name>
      <Alias>vendrCollectShippingInfo</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select whether to collect shipping information or not. Not necessary if you are only dealing with digital downloads.]]></Description>
      <SortOrder>40</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>7ecdf760-495d-4277-85a0-b5731ba6fb7f</Key>
      <Name>Order Line Property Aliases</Name>
      <Alias>vendrOrderLinePropertyAliases</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Comma separated list of order line property aliases to display in the order summary.]]></Description>
      <SortOrder>50</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>a0676941-cdc6-4d7a-a585-3eb670542640</Key>
      <Name>Privacy Policy Page</Name>
      <Alias>vendrPrivacyPolicyPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page on the site containing the privacy policy.]]></Description>
      <SortOrder>80</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>e187d158-8900-48a3-9e7d-f2973a2cb787</Key>
      <Name>Store Address</Name>
      <Alias>vendrStoreAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The address of the web store to appear in the footer of order emails.]]></Description>
      <SortOrder>20</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>e6bdc3d8-adae-4f54-9224-ef28cf3e4f01</Key>
      <Name>Store Logo</Name>
      <Alias>vendrStoreLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A logo image for the store to appear at the top of the checkout screens and order emails.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>3286f63b-778e-4533-ad3a-a32fb5f104cd</Key>
      <Name>Terms and Conditions Page</Name>
      <Alias>vendrTermsAndConditionsPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page on the site containing the terms and conditions.]]></Description>
      <SortOrder>70</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>8121980d-ea95-4949-9f45-7a73bb34d4cc</Key>
      <Name>Theme Color</Name>
      <Alias>vendrThemeColor</Alias>
      <Definition>46322397-3b7b-4d53-a5db-a1b17553d397</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The theme color to use for colored elements of the checkout pages.]]></Description>
      <SortOrder>30</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>