<?xml version="1.0" encoding="utf-8"?>
<Store Key="3472e724-17a3-4eb1-8cb1-4d253e99ae52" Alias="testStore" Level="0">
  <Name>Test Store</Name>
  <SortOrder>0</SortOrder>
  <PricesIncludeTax>true</PricesIncludeTax>
  <CookieTimeout>P365D</CookieTimeout>
  <CartNumberTemplate>CART-{0}</CartNumberTemplate>
  <ProductPropertyAliases></ProductPropertyAliases>
  <ProductUniquenessPropertyAliases />
  <GiftCardCodeLength>10</GiftCardCodeLength>
  <GiftCardDaysValid>1095</GiftCardDaysValid>
  <GiftCardCodeTemplate />
  <GiftCardPropertyAliases>giftCardRecipientName,giftCardRecipientEmail,giftCardMessage</GiftCardPropertyAliases>
  <GiftCardActivationMethod>0</GiftCardActivationMethod>
  <OrderEditorConfig>~/app_plugins/vendrcheckout/config/vendrcheckout.order.editor.config.js</OrderEditorConfig>
  <OrderNumberTemplate>ORDER-{0}</OrderNumberTemplate>
  <BaseCurrencyId>bbe4dcfe-c8e2-4e84-a80f-01fe97c819c7</BaseCurrencyId>
  <DefaultCountryId>a97be569-d574-4c50-85ed-3e5fedebdea6</DefaultCountryId>
  <DefaultTaxClassId>d8bb9338-668f-481d-9dc7-76557e43b6af</DefaultTaxClassId>
  <DefaultOrderStatusId>0382baf8-5dc4-4ead-ab00-8007456bad44</DefaultOrderStatusId>
  <ErrorOrderStatusId>426ce7b8-9d38-4f31-ab94-91996f682cfc</ErrorOrderStatusId>
  <GiftCardActivationOrderStatusId>00000000-0000-0000-0000-000000000000</GiftCardActivationOrderStatusId>
  <DefaultGiftCardEmailTemplateId>c0be672a-6e10-4940-bd27-8dfbde1d836c</DefaultGiftCardEmailTemplateId>
  <ConfirmationEmailTemplateId>d749045f-9378-4446-a055-3333315867d0</ConfirmationEmailTemplateId>
  <ErrorEmailTemplateId>5d7fc21e-b43a-4aaf-bb7e-fa45dc9f14f7</ErrorEmailTemplateId>
  <ErrorOrderStatusId>426ce7b8-9d38-4f31-ab94-91996f682cfc</ErrorOrderStatusId>
  <ShareStockFromStoreId>00000000-0000-0000-0000-000000000000</ShareStockFromStoreId>
  <AllowedUsers>
    <User>test@carbonsix.digital</User>
  </AllowedUsers>
  <AllowedUserRoles>
    <Role>admin</Role>
    <Role>editor</Role>
    <Role>sensitiveData</Role>
    <Role>translator</Role>
    <Role>writer</Role>
  </AllowedUserRoles>
</Store>